.brands_page {
  min-height: 50vh;
  width: 100%;
  margin: 5.889vw 0;
  background: $white;
  position: relative;
  @include media(">=LGdesktop") {
  }
  @include media("<=desktop") {
    min-height: 45vh;
  }
  @include media("<=laptop") {
  }
  @include media("<=tablet") {
  }
  @include media("<=phoneLarge") {
  }
  @include media("<=phone") {
  }
  @include media("<=phoneSmall") {
    min-height: 70vh;
  }
  .brands_container {
    width: 1300px;
    min-width: 1300px;
    margin: 0 11.458vw;
    height: 100%;
    display: flex;
    justify-content: center;

    .brands_header {
      position: absolute;
      top: -3%;
      left: 10%;
      width: 70vw;
      margin-left: 65px;
      @include media("<=desktop") {
        top: 2%;
        left: 9%;
      }
      @include media("<=laptop") {
        top: 2%;
        left: 7.5%;
      }
      @include media("<=tablet") {
        top: 1%;
        left: 5%;
      }
      @include media("<=phoneLarge") {
        top: 1%;
        left: 0%;
      }
      @include media("<=phone") {
        top: 1%;
        left: -1%;
      }
      @include media("<=phoneSmall") {
        top: 1%;
        left: -4.5%;
      }
      .brands_header_text {
        font-weight: 200;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 45px;
      }
      .brands_search {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 4444;
        .brands_searchBtn {
          background-color: white;
          font-weight: 900;
          padding: 20px;
          font-size: 18px;
          color: rgb(29, 29, 30);
          border-radius: 10px;
          @include media("<=laptop") {
            padding: 15px;
            font-size: 12px;
          }
          @include media("<=tablet") {
            display: none;
          }
          @include media("<=phoneLarge") {
            display: none;
          }
          @include media("<=phone") {
            display: none;
          }
          @include media("<=phoneSmall") {
            display: none;
          }
          cursor: pointer;
          &:hover {
            background-color: rgb(61, 145, 255);
            color: white;
          }
        }
      }
    }
    .brands_items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      margin-top: 170px;

      @include media("<=desktop") {
        margin-left: -340px;
        margin-top: 210px;
      }
      @include media("<=laptop") {
        margin-left: -530px;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 200px;
      }
      @include media("<=tablet") {
        margin-left: -720px;
        grid-template-columns: repeat(1, 1fr);
      }
      @include media("<=phoneLarge") {
        margin-left: -965px;
        grid-template-columns: repeat(1, 1fr);
      }
      @include media("<=phone") {
        margin-left: -1000px;
        grid-template-columns: repeat(1, 1fr);
      }
      @include media("<=phoneSmall") {
        margin-left: -1050px;
        grid-template-columns: repeat(1, 1fr);
      }
      .brands_item {
        margin-bottom: 4.861vw;
        .brands_img {
          width: 100%;
          display: block;
          pointer-events: none;
        }
      }
    }
  }
}
