.SectionThree_Calendar {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 100vw;
  z-index: 3333;
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 380px;
  }
  .SectionThree_Calendar_input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .SectionThree_Calendar_btn {
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit;
    background-color: rgb(61, 145, 255);
    color: white;
    border: none;
    width: 579px;
    padding: 16px;
    cursor: pointer;
    &:hover {
      background-color: rgb(224, 28, 172);
      color: white;
    }
  }
}
