.about_page_slider {
  background: #f4f4f4;
  height: 70vh;
  width: 100%;
  position: relative;
  padding: 7.056vw 0;
  @include media(">=LGdesktop") {
  }
  @include media("<=desktop") {
    height: 45vh;
  }
  @include media("<=laptop") {
    height: 65vh;
  }
  @include media("<=tablet") {
    height: 75vh;
  }
  @include media("<=phoneLarge") {
    height: 60vh;
  }
  @include media("<=phone") {
    height: 47vh;
  }
  @include media("<=phoneSmall") {
    height: 45vh;
  }
  .about_container_slider {
    margin: 0 11.458vw;
    .about_slider_head {
      padding-bottom: 3.472vw;
      border-bottom: 1px solid #d8d8d8;
      .about_slider_headH3 {
        font-weight: 400;
        font-size: 40px;
      }
    }
    .about_slider_indic {
      position: absolute;
      top: 18.056vw;
      right: 11.458vw;
      font-size: 40px;
      font-weight: 400;
      @include media("<=phoneLarge") {
        top: 28.056vw;
        right: 11.458vw;
        font-size: 20px;
      }
      @include media("<=phone") {
        top: 28.056vw;
        right: 11.458vw;
        font-size: 20px;
      }
      @include media("<=phoneSmall") {
        top: 28.056vw;
        right: 11.458vw;
        font-size: 20px;
      }
    }
    .about_slider_nav {
      z-index: 2;
      right: 11.458vw;
      bottom: 4.056vw;
      width: 3.889vw;
      height: 3.889vw;
      cursor: pointer;
      position: absolute;
      @include media("<=desktop") {
        right: 10.458vw;
        bottom: 2.056vw;
      }
      @include media("<=laptop") {
        right: 20.458vw;
        bottom: 5.056vw;
      }

      @include media("<=tablet") {
        right: 20.458vw;
        bottom: 7.056vw;
      }
      @include media("<=phoneLarge") {
        right: 20.458vw;
        bottom: 15.056vw;
      }
      @include media("<=phone") {
        right: 20.458vw;
        bottom: 15.056vw;
      }
      @include media("<=phoneSmall") {
        right: 20.458vw;
        bottom: 15.056vw;
      }
      .about_slider_arrow {
        margin-left: 16px;
        border: 2px solid #d4d4d4;
        background-color: #d4d4d4;
        padding: 12px;
        height: 35px;
        width: 35px;
        color: white;
        border-radius: 100px;
        transition: 0.4s ease-in-out;

        &:hover {
          background-color: #000000;
          color: white;
        }
        @include media("<=desktop") {
          padding: 4px;
          width: 26px;
          height: 26px;
        }
        @include media("<=laptop") {
          padding: 4px;
          width: 26px;
          height: 26px;
        }

        @include media("<=tablet") {
          padding: 4px;
          width: 26px;
          height: 26px;
        }
        @include media("<=phoneLarge") {
          padding: 4px;
          width: 16px;
          height: 16px;
        }
        @include media("<=phone") {
          padding: 4px;
          width: 16px;
          height: 16px;
        }
        @include media("<=phoneSmall") {
          padding: 4px;
          width: 16px;
          height: 16px;
        }
      }
    }
    .about_slider_slides {
      height: 31.25vw;
      position: relative;
      @include media("<=tablet") {
        height: 58.25vw;
      }
      @include media("<=phoneLarge") {
        height: 78.25vw;
      }
      @include media("<=phone") {
        height: 60.25vw;
      }
      @include media("<=phoneSmall") {
        height: 67.25vw;
      }
      .about_slider_slide {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: center;
        display: flex;
        .about_slider_slide_outer {
          width: 100%;
          height: 200px;
          display: flex;
          align-items: center;
          .about_slider_slide_column {
            width: 39.583vw;
            .about_slider_slide_columnH2 {
              font-weight: 700;
              font-size: 4.861vw;
              line-height: 6.25vw;
              letter-spacing: -0.139vw;
              .about_slider_slide_columnOverlayLine {
                display: block;
                text-align: start;
                position: relative;
                overflow: hidden;
                .about_slider_slide_columnOverlayTextMotion {
                  position: relative;
                  display: inline-block;
                }
              }
            }
          }
          .about_slider_slide_columnTwo {
            width: 37.5vw;
            .about_slider_slide_columnTwoP {
              font-weight: 500;
              font-size: 1.806vw;
              line-height: 3.125vw;
              overflow: hidden;
              @include media("<=tablet") {
                font-size: 3.861vw;
                line-height: 4.625vw;
              }
              @include media("<=phoneLarge") {
                font-size: 3.861vw;
                line-height: 4.625vw;
              }
              @include media("<=phone") {
                font-size: 3.861vw;
                line-height: 4.625vw;
              }
              @include media("<=phoneSmall") {
                font-size: 3.861vw;
                line-height: 4.625vw;
              }
              .about_slider_slide_columnTwoText {
                display: block;
                text-align: start;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
