.BannerTwo_page {
  height: 100vh;
  width: 100%;
  background: $black;
  position: relative;
  overflow: hidden;

  .img_wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    perspective: 1000;
    .BannerTwo_img {
      opacity: 0.4;
      will-change: transform;
      background-size: cover;
      background-position: 50%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      pointer-events: none;
      object-fit: cover;
      @include media(">=LGdesktop") {
        object-fit: cover;
      }
      @include media("<=desktop") {
        object-fit: cover;
      }
      @include media("<=laptop") {
        object-fit: cover;
      }
      @include media("<=tablet") {
        object-fit: cover;
      }
      @include media("<=phoneLarge") {
        object-fit: cover;
      }
      @include media("<=phone") {
        object-fit: cover;
      }
      @include media("<=phoneSmall") {
        object-fit: cover;
      }
    }
  }

  .BannerTwo_container {
    width: 1285px;
    min-width: 1285px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;

    .BannerTwo__row {
      padding: 0 32px;
      h2 {
        font-size: 4.536vw;
        line-height: 6.2rem;
        font-weight: 800;
        z-index: 10;
        mix-blend-mode: difference;
        color: $white;
        width: 1240px;
        @include media(">=LGdesktop") {
          font-size: 80px;
        }
        @include media("<=laptop") {
        }
        @include media("<=tablet") {
          font-size: 2rem;
          width: 500px;
        }
        @include media("<=phoneLarge") {
          font-size: 2rem;
          line-height: 2.1rem;
          width: 280px;
        }
        @include media("<=phone") {
          margin-top: 72px;
          font-size: 1.7rem;
          line-height: 2.2rem;
          width: 280px;
        }
        @include media("<=phoneSmall") {
          width: 280px;
        }

        .BannerTwo_h3 {
          font-weight: 500;
          font-size: 1.736vw;
          letter-spacing: normal;
          margin-bottom: 2.083vw;
          @include media("<=desktop") {
          }
          @include media("<=laptop") {
            font-size: 35px;
          }
          @include media("<=tablet") {
            font-size: 30px;
          }
          @include media("<=phoneLarge") {
            font-size: 20px;
          }
          @include media("<=phone") {
            font-size: 20px;
          }
          @include media("<=phoneSmall") {
            font-size: 20px;
          }
          span {
            font-weight: 500;
            font-size: 1.736vw;
            letter-spacing: normal;
            margin-bottom: 2.083vw;
          }
        }
        .BannerTwo_line {
          margin-bottom: 8px;
          height: 90px;
          position: relative;
          overflow: hidden;
          @include media(">=LGdesktop") {
            height: 110px;
          }
          @include media("<=desktop") {
          }
          @include media("<=laptop") {
          }
          @include media("<=tablet") {
          }
          @include media("<=phoneLarge") {
            height: 70px;
          }
          @include media("<=phone") {
            height: 60px;
          }
          @include media("<=phoneSmall") {
            height: 57px;
          }
          span {
            position: absolute;
            @include media("<=phone") {
              font-size: 19px;
              width: 200px;
            }
            @include media("<=phone") {
              font-size: 19px;
              width: 200px;
            }
            @include media("<=phoneSmall") {
              font-size: 19px;
              width: 200px;
            }
          }
        }
        .BannerTwo_btn-row {
          z-index: 3;
          opacity: 1;
          cursor: pointer;
          position: absolute;
          right: 14%;
          bottom: 4%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          @include media("<=phoneSmall") {
            right: 10%;
            top: 80%;
            position: absolute;
          }
          .BannerTwo_btn {
            font-size: 1.2rem;
            color: $white;
            font-weight: bold;
            @include media("<=phoneSmall") {
              font-size: 1.1rem;
            }
          }
          .BannerTwo_btn_arrow {
            margin-left: 16px;
            border: 2px solid $black;
            padding: 12px;
            height: 20px;
            width: 20px;
            background: rgba(66, 65, 65, 0.762);
            border-radius: 100px;
            transition: 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
            @include media("<=tablet") {
              padding: 6px;
              width: 20px;
              height: 20px;
            }
            @include media("<=phone") {
              padding: 4px;
              width: 16px;
              height: 16px;
            }
          }
          &:hover {
            .BannerTwo_btn_arrow {
              background: rgba(255, 255, 255, 0.809);
              color: $black;
            }
          }
        }
      }
    }
  }
}
