.header {
  position: absolute;
  width: 100%;
  height: 128px;
  z-index: 4;
  @include media("<=phone") {
    height: 96px;
  }
  .logo {
    a {
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      text-decoration: none;
      font-weight: bolder;
      z-index: 10;
      mix-blend-mode: difference;
      color: rgb(187, 187, 187);
      @include media("<=desktop") {
      }
      @include media("<=laptop") {
      }
      @include media("<=tablet") {
      }
      @include media("<=phoneLarge") {
        font-size: 1.1rem;
      }
      @include media("<=phone") {
        font-size: 1rem;
      }
      @include media("<=phoneSmall") {
        font-size: 1rem;
      }
    }
  }
  .nav-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("<=tablet") {
      margin-right: 24px;
    }
    @include media("<=phone") {
      width: 20px;
      margin-right: 16px;
    }

    .hamburger-menu {
      width: 25px;
      span {
        text-align: center;
        margin-bottom: 0.3rem;
        mix-blend-mode: difference;
        background: rgb(150, 148, 148);
        height: 2px;
        width: 100%;
        font-weight: bolder;
        display: block;
      }
    }
    .hamburger-menu-close {
      position: absolute;
      display: none;

      svg {
        @include media("<=tablet") {
          width: 56px;
        }
        @include media("<=phone") {
          width: 48px;
        }
        @include media("<=desktop") {
        }
        @include media("<=laptop") {
        }
        @include media("<=tablet") {
        }
        @include media("<=phoneLarge") {
        }
        @include media("<=phone") {
          width: 48px;
        }
        @include media("<=phoneSmall") {
        }
      }
    }
  }
}
