nav {
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  position: fixed;
  overflow: hidden;
  background: $yellow;
  @include media("<=desktop") {
  }
  @include media("<=laptop") {
  }
  @include media("<=tablet") {
  }
  @include media("<=phoneLarge") {
    height: 65vh;
  }
  @include media("<=phone") {
    height: 65vh;
  }
  @include media("<=phoneSmall") {
    height: 65vh;
  }
  a {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $black;
      transition: 0.4s ease;
    }
    &:hover {
      color: pink;
      &:after {
        width: 100%;
        left: 0;
        background: $black;
      }
    }
  }
  .nav-columns {
    transform: translateY(125px);
    display: flex;
    padding: 0 32px;
    @include media("<=phoneLarge") {
      padding: 0 15px;
    }
    @include media("<=phone") {
      padding: 0 15px;
    }
    @include media("<=phoneSmall") {
      padding: 0 15px;
    }
    .nav-column {
      width: 45%;
      &:last-child {
        width: 55%;
      }
      .nav-label {
        margin-bottom: 3rem;
        font-size: 1.2rem;
      }
      .nav-infos {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        .nav-info {
          padding: 0;
          width: 50%;
          margin-bottom: 30px;
          @include media("<=phoneLarge") {
            margin-bottom: 1px;
          }
          @include media("<=phone") {
            margin-bottom: 1px;
          }
          @include media("<=phoneSmall") {
            margin-bottom: 1px;
          }
          .nav-info-label {
            font-weight: 600;
          }
          li {
            font-weight: 300;
            list-style: none;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            @include media("<=phoneLarge") {
              font-size: 0.8rem;
              line-height: 17px;
            }
            @include media("<=phone") {
              font-size: 0.8rem;
              line-height: 17px;
            }
            @include media("<=phoneSmall") {
              font-size: 0.8rem;
              line-height: 17px;
            }

            a {
              text-decoration: none;
              color: $black;
            }
          }
          .social_icons {
            position: absolute;
            right: 16.9%;
            z-index: 10;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 160px;
            height: 160px;
            transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            @include media("<=desktop") {
              right: 15%;
            }
            @include media("<=laptop") {
              right: 14.5%;
            }
            @include media("<=tablet") {
              right: 3%;
            }
            @include media("<=phoneLarge") {
              width: 80px;
              height: 80px;
              right: 11%;
              bottom: -22.9%;
            }
            @include media("<=phone") {
              width: 80px;
              height: 80px;
              right: 9%;
              bottom: -22.9%;
            }
            @include media("<=phoneSmall") {
              width: 80px;
              height: 80px;
              right: 6%;
              bottom: -37.9%;
            }
            .icon {
              font-size: 30px;
              @include media("<=tablet") {
                font-size: 25px;
              }
              @include media("<=phoneLarge") {
                font-size: 30px;
              }
              @include media("<=phone") {
                font-size: 30px;
              }
              @include media("<=phoneSmall") {
                font-size: 30px;
              }
              cursor: pointer;
              &:hover {
                transform: scale(1.4);
                color: rgb(206, 206, 206);
              }
            }
          }
        }
      }
      .nav-links {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          margin-bottom: 2.4rem;
          @include media("<=phoneLarge") {
            margin-bottom: 1.4rem;
          }
          @include media("<=phone") {
            margin-bottom: 1.4rem;
          }
          @include media("<=phoneSmall") {
            margin-bottom: 1.4rem;
          }
          a {
            font-weight: 600;
            font-size: 2.8rem;
            text-decoration: none;
            color: $black;
            @include media("<=phoneLarge") {
              font-size: 1.1rem;
              line-height: 2px;
            }
            @include media("<=phone") {
              font-size: 1.1rem;
              line-height: 2px;
            }
            @include media("<=phoneSmall") {
              font-size: 1.1rem;
              line-height: 2px;
            }
          }
        }
      }
    }
  }
}
