.accordion_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.15rem;
  height: 172px;
  cursor: pointer;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  @include media("<=desktop") {
  }
  @include media("<=laptop") {
    height: 100px;
  }
  @include media("<=tablet") {
    height: 100px;
  }
  @include media("<=phoneLarge") {
    height: 50px;
  }
  @include media("<=phone") {
    height: 50px;
  }
  @include media("<=phoneSmall") {
    height: 50px;
  }
  .accordion_header_text {
    color: #cacaca;
    margin: 0 11.458vw;
    font-size: 3.472vw;
    font-weight: bold;
    line-height: 10.069vw;
    letter-spacing: -0.099vw;
    @include media("<=laptop") {
      width: 580px;
    }
    @include media("<=tablet") {
      width: 980px;
    }
    @include media("<=phoneLarge") {
      width: 980px;
      font-size: 4.472vw;
    }
    @include media("<=phone") {
      width: 800px;
      font-size: 4.472vw;
    }
    @include media("<=phoneSmall") {
      width: 360px;
      font-size: 4.472vw;
    }
  }
  .accordion_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 240px;
    margin: 0 11.458vw;
    height: 100%;
    margin-right: 8px;
    @include media("<=laptop") {
    }
    @include media("<=phone") {
      margin-right: 29px;
    }
    @include media("<=phoneSmall") {
      margin-right: 29px;
    }
    .accordion_btn-row {
      .accordion_btn_arrow {
        margin-left: 16px;
        border: 2px solid #cacaca;
        color: #cacaca;
        stroke: #000;
        padding: 12px;
        height: 22px;
        width: 22px;
        background: rgba(255, 255, 255, 0.762);
        border-radius: 100px;
        @include media("<=phoneLarge") {
          height: 6px;
          width: 6px;
        }
        @include media("<=phone") {
          height: 6px;
          width: 6px;
        }
        @include media("<=phoneSmall") {
          height: 6px;
          width: 6px;
        }
      }
    }
  }
}

.accordion_content {
  overflow: hidden;
  position: relative;
  z-index: 3;
  background-color: black;
  .accordion_content_text {
    color: $white;
    margin: 0 11.458vw;
    text-align: start;
    opacity: 0.6;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 2.431vw;
    padding-right: 20vw;
    padding-bottom: 1.5vw;
    @include media("<=laptop") {
      font-size: 2.05vw;
      line-height: 4.831vw;
    }
    @include media("<=tablet") {
      font-size: 2.25vw;
      line-height: 4.831vw;
    }
    @include media("<=phoneLarge") {
      font-size: 3.25vw;
      line-height: 4.831vw;
    }
    @include media("<=phone") {
      font-size: 3.25vw;
      line-height: 4.831vw;
    }
    @include media("<=phoneSmall") {
      font-size: 3.25vw;
      line-height: 4.831vw;
    }
  }
}

.accordion_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  overflow: hidden;
  background: #000;
  position: absolute;
  transform: translate(0%, -100%);
}
